header {
    height: 100px;
    font-size: 2em;
}

.full-size {
    position: absolute;
    top: 100px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.window {
    width: 800px;
    font-size: 2.8em;
}

.Top_Windows {
    font-size: 1.6em;
}

.Center_h {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.btn {
    padding: 25px 30px;
}

.area {
    padding-bottom: 500%;
}